{% extends "base.html" %}

{% block content %}
<div class="chase-screen">
    <h2>Police Chase!</h2>
    
    {% if message %}
    <div class="chase-message">
        <p>{{ message }}</p>
    </div>
    {% endif %}
    
    <div class="chase-status">
        <h3>Current Situation:</h3>
        <p><strong>Police Officers:</strong> {{ num_cops }} cops chasing you</p>
        <p><strong>Your Health:</strong> {{ 10 - game_state.damage }}/10</p>
        <p><strong>Vest Protection:</strong> {{ game_state.weapons.vest }} hits remaining</p>
        <p><strong>Weapons:</strong> {{ game_state.weapons.pistols}}, {{ game_state.weapons.bullets }} bullets</p>
        <p><strong>Lives:</strong> {{ game_state.lives }}/5</p>
    </div>
    
    <div class="chase-actions">
        <h3>What do you want to do?</h3>

        {% if game_state.weapons.pistols > 0 and game_state.weapons.bullets > 0 %}
        <form method="POST" action="{{ url_for('fight_cops') }}" class="chase-form">
            <input type="hidden" name="action" value="shoot">
            <input type="hidden" name="weapon" value="pistol">
            <input type="hidden" name="num_cops" value="{{ num_cops }}">
            <button type="submit" class="btn btn-danger">Fight Back (Pistol - {{ game_state.weapons.bullets }} bullets)</button>
        </form>
        {% endif %}

        {% if game_state.weapons.uzis > 0 and game_state.weapons.bullets > 0 %}
        <form method="POST" action="{{ url_for('fight_cops') }}" class="chase-form">
            <input type="hidden" name="action" value="shoot">
            <input type="hidden" name="weapon" value="uzi">
            <input type="hidden" name="num_cops" value="{{ num_cops }}">
            <button type="submit" class="btn btn-danger">Fight Back (Uzi - {{ game_state.weapons.bullets }} bullets)</button>
        </form>
        {% endif %}

        {% if game_state.weapons.grenades > 0 %}
        <form method="POST" action="{{ url_for('fight_cops') }}" class="chase-form">
            <input type="hidden" name="action" value="shoot">
            <input type="hidden" name="weapon" value="grenade">
            <input type="hidden" name="num_cops" value="{{ num_cops }}">
            <button type="submit" class="btn btn-danger">Fight Back (Grenade - {{ game_state.weapons.grenades }} grenades)</button>
        </form>
        {% endif %}

        {% if game_state.weapons.missile_launcher > 0 and game_state.weapons.missiles > 0 %}
        <form method="POST" action="{{ url_for('fight_cops') }}" class="chase-form">
            <input type="hidden" name="action" value="shoot">
            <input type="hidden" name="weapon" value="missile_launcher">
            <input type="hidden" name="num_cops" value="{{ num_cops }}">
            <button type="submit" class="btn btn-danger">Fight Back (RPG Launcher - {{ game_state.weapons.missiles }} missiles)</button>
        </form>
        {% endif %}

        {% if game_state.weapons.knife > 0 %}
        <form method="POST" action="{{ url_for('fight_cops') }}" class="chase-form">
            <input type="hidden" name="action" value="shoot">
            <input type="hidden" name="weapon" value="knife">
            <input type="hidden" name="num_cops" value="{{ num_cops }}">
            <button type="submit" class="btn btn-danger">Fight Back (Knife)</button>
        </form>
        {% endif %}

        {% if game_state.weapons.vampire_bat > 0 %}
        <form method="POST" action="{{ url_for('fight_cops') }}" class="chase-form">
            <input type="hidden" name="action" value="shoot">
            <input type="hidden" name="weapon" value="vampire_bat">
            <input type="hidden" name="num_cops" value="{{ num_cops }}">
            <button type="submit" class="btn btn-danger">Fight Back (Vampire Bat)</button>
        </form>
        {% endif %}

        <form method="POST" action="{{ url_for('fight_cops') }}" class="chase-form">
            <input type="hidden" name="action" value="run">
            <input type="hidden" name="num_cops" value="{{ num_cops }}">
            <button type="submit" class="btn btn-warning">Try to Run</button>
        </form>
    </div>
    
    <div class="chase-tips">
        <h3>Chase Tips:</h3>
        <ul>
            <li>Shooting can kill cops but they'll shoot back</li>
            <li>Running has a chance to escape but you might get hit</li>
            <li>Your vest will protect you from some damage</li>
            <li>If you die, you lose a life</li>
        </ul>
    </div>

    <div id="player-list"></div>
</div>
{% endblock %}
